{% extends "base.html" %} {% load tailwind_filters %} {% block content %}

<section class="text-gray-400 bg-gray-900 body-font min-h-screen max-h-full">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-white">Welcome back!</h1>
            <p class="leading-relaxed mt-4">We're so excited to see you again!</p>
        </div>
        <div class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <h2 class="text-white text-lg font-medium title-font mb-5">Login</h2>
            <form method="post">
                <div class="relative mb-4">
                    {% csrf_token %} {{ form|crispy }}
                </div>
                <div class="flex flex-wrap my-3">
                    <a href="{% url 'reset-password' %}" class="text-xs hover:text-indigo-500">Forgot password?</a>
                </div>
                <div class="flex flex-wrap mx-auto w-full">
                    <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 w-full focus:outline-none hover:bg-indigo-600 rounded text-lg">Login</button>
                </div>
            </form>
            <div class="flex flex-wrap mt-3">
                <p class="text-xs">
                    Are you new?
                    <a href="{% url 'signup' %}" class="text-xs mt-3 hover:text-indigo-500">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}