{% extends "base.html" %} {% block content %}

<section class="text-gray-400 bg-gray-900 body-font min-h-screen max-h-full">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-2/3 xl:w-2/5 w-full flex flex-col text-center mx-auto mb-12 px-8 sm:px-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Password reset complete!</h1>
            <p class="leading-relaxed text-base">You have successfully reset your password. Click
                <a href="{% url 'login' %}" class="hover:text-indigo-500">here</a> to login.</p>
        </div>
    </div>
</section>

{% endblock content %}