{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<style>
    @font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'), local('Arial-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
    }


    body{
        background-color: #222222;
        }
        /*neon effect*/
        p{
        text-align:center;
        font-size:3em;
        margin:20px 0 20px 0;
    }

    a{
        text-decoration:none;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }


    p:nth-child(1) a{
        color:#f98bba;
        font-family:Monoton;
        }
        p:nth-child(1) a:hover{
        -webkit-animation: neon1 3s ease-in-out infinite alternate;
        -moz-animation: neon1 3s ease-in-out infinite alternate;
        animation: neon1 3s ease-in-out infinite alternate;
    }


    /*glow for webkit-ket-frames*/
    @-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
                0 0 20px  #fff,
                0 0 30px  #fff,
                0 0 40px  #f98bba,
                0 0 70px  #f98bba,
                0 0 80px  #f98bba,
                0 0 100px #f98bba,
                0 0 150px #f98bba;
    }
    to {
        text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 20px #f98bba,
                0 0 35px #f98bba,
                0 0 40px #f98bba,
                0 0 50px #f98bba,
                0 0 75px #f98bba;
    }
    }

    /*glow for mozilla-keyframes*/
    @-moz-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
                0 0 20px  #fff,
                0 0 30px  #fff,
                0 0 40px  #f98bba,
                0 0 70px  #f98bba,
                0 0 80px  #f98bba,
                0 0 100px #f98bba,
                0 0 150px #f98bba;
    }
    to {
        text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 20px #f98bba,
                0 0 35px #f98bba,
                0 0 40px #f98bba,
                0 0 50px #f98bba,
                0 0 75px #f98bba;
    }
    }

    /*glow*/
    @keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
                0 0 20px  #fff,
                0 0 30px  #fff,
                0 0 40px  #f98bba,
                0 0 70px  #f98bba,
                0 0 80px  #f98bba,
                0 0 100px #f98bba,
                0 0 150px #f98bba;
    }
    to {
        text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 20px #f98bba,
                0 0 35px #f98bba,
                0 0 40px #f98bba,
                0 0 50px #f98bba,
                0 0 75px #f98bba;
    }
    }

</style>

<div class = 'ml-24 y-5 border-gray-200 mt-5 mb-10'>
    <a class = 'text-white hover:text-purple-300 mt-3' href = '{% url 'leads:lead-list' %}'>REGRESAR A LA LISTA DE CONTACTOS</a>
</div>

<div class = 'max-w-lg mx-auto px-auto'>

    <p><a>ESTAS CREANDO UN NUEVO CONTACTO</a></p>

    <form method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        <button type = 'submit' class = 'py-4 mt-10 mb-10 text-white w-full bg-purple-500 hover:bg-purple-600 px-3 py-1 rounded-md'>CREAR</button>
    </form>

</div>


{% endblock content %}
        
