{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

        <style>
        
            @import url(https://fonts.googleapis.com/css?family=Erica+One);
            /* BODY */
            body {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;  
                height: 100%;
                background-color: pink;
                
                background-attachment: fixed;
                background-size: 100% 100%;
                overflow: hidden;
            }
            ::selection {
                background: transparent;
            }

            h1 {
                cursor: default;
                position: absolute;
                top: -600px;
                left: 0;
                right: 0;
                bottom: 0;
                height: 50px;
                margin: auto;
                display: block;
                
                -webkit-animation: bounce .3s ease infinite alternate;
                
                font-family: 'Times New Roman', cursive;
                font-size: 80px;
                color: #FFF;
                text-align: center;
                line-height: 100px;
                text-shadow: 0 1px 0 #CCC,
                            0 2px 0 #CCC,
                            0 3px 0 #CCC,
                            0 4px 0 #CCC,
                            0 5px 0 #CCC,
                            0 6px 0 transparent,
                            0 7px 0 transparent,
                            0 8px 0 transparent,
                            0 9px 0 transparent,
                            0 10px 10px rgba(0, 0, 0, .6);
            }

            /* ANIMATION */
            @-webkit-keyframes bounce {
            100% {
                top: -30px;
                
                text-shadow: 0 1px 0 #CCC,
                            0 2px 0 #CCC,
                            0 3px 0 #CCC,
                            0 4px 0 #CCC,
                            0 5px 0 #CCC,
                            0 6px 0 #CCC,
                            0 7px 0 #CCC,
                            0 8px 0 #CCC,
                            0 9px 0 #CCC,
                            0 30px 30px rgba(0, 0, 0, .3);
            }
            }
        
        </style>

    <div class='max-w-lg mx-auto mt-20 mb-60'>

        <h1 class = 'italic'>¿{{request.user.username}} está seguro de eliminar a {{lead.first_name}}?</h1>

        <form method='post' class='mt-96'>
        {% csrf_token %}
        {{ form|crispy }}
            <button type = 'submit' class='text-white w-full bg-purple-500 hover:bg-red-600 px-3 py-5 rounded-md'>ELIMINAR</button>
        </form>
    </div>

        <div class = 'text-center ml-96 mr-96 py-5 mt-5 border rounded-md'>
            <a class = 'text-white hover:text-pink-400 mt-3' href = '{% url 'leads:lead-list' %}'>REGRESAR A LA LISTA DE CONTACTOS</a>
        </div>

{% endblock content %}