{% extends "base.html" %} {% block content %}

<section class="max-h-screen min-h-full overflow-hidden text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap mx-auto lg:w-4/5">
            <div class="w-full mb-6 lg:w-1/2 lg:pr-10 lg:py-6 lg:mb-0">
                <h2 class="text-sm tracking-widest text-gray-500 title-font">TASK</h2>
                <h1 class="mb-4 text-3xl font-medium text-white title-font">{{ task.task_name }}</h1>
                <div class="flex mb-4">
                    <a class="flex-grow px-1 py-2 text-lg text-blue-400 border-b-2 border-blue-500">Details</a>
                    <a href="{% url 'tasks:task-update' task.pk %}" class="flex-grow px-1 py-2 text-lg border-b-2 border-gray-800">Update</a>
                    <a href="{% url 'tasks:task-delete' task.pk %}" class="flex-grow px-1 py-2 text-lg border-b-2 border-gray-800">Delete</a>
                </div>
                <p class="mb-4 leading-relaxed">This are the details of this task.</p>
                <div class="flex py-2 border-t border-gray-800">
                    <span class="text-gray-500">Due Date</span>
                    <span class="ml-auto text-white">{{ task.due_date }}</span>
                </div>
                <div class="flex py-2 border-t border-gray-800">
                    <span class="text-gray-500">Repeat</span>
                    <span class="ml-auto text-white">{{ task.repeat }}</span>
                </div>
                <div class="flex py-2 border-t border-gray-800">
                    <span class="text-gray-500">Related To</span>
                    <span class="ml-auto text-white">{{ task.related_to }}</span>
                </div>
                <div class="flex py-2 border-t border-gray-800">
                    <span class="text-gray-500">Description</span>
                    <span class="ml-auto text-white">{{ task.description }}</span>
                </div>
                <div class="flex py-2 mb-6 border-t border-b border-gray-800">
                    <span class="text-gray-500">Priority</span>
                    <span class="ml-auto text-white">{{ task.priority }}</span>
                </div>
                <div class="flex">
                    <a href="{% url 'tasks:task-list' %}" class="flex px-6 py-2 ml-auto text-white bg-blue-500 border-0 rounded focus:outline-none hover:bg-blue-600">Go back to tasks</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}